/** ----------- General style ----------- */
/** ----------- Colors -----------:
#4D5AE5 - Primary brand
#404BBF - Pressed state
#2E2F42 - Dark (Overlays Shadows Headings)
#31D0AA - Success 
     graduation: opacity: 0.75; 
     opacity: 0.5; 
     rgba(49, 208, 170, 0.1) - 10%;  
#434455 - Body text
#8E8F99 - Subtle Text
#E7E9FC - Accent
#F4F4FD - Light mode
#FFFFFF - Background color (text button, hero title)
rgba(46, 47, 66, 0.4) - Modal overlay
rgba(46, 47, 66, 0.7) - Hero background
 */

:root {
    --body-text-color: #434455;
    --primary-brand-color: #4D5AE5;
    --dark-color: #2E2F42;
    --pressed-state-color: #404BBF;
    --white-color: #FFFFFF;
    --light-mode-color: #F4F4FD;
    --accent-color: #E7E9FC;
    --hero-background: rgba(46, 47, 66, 0.7);
    --customers-icon: #8E8F99;
    --footer-icon-background: rgba(255, 255, 255, 0.1);
    --footer-icon-background-hover: #31D0AA;
    --modal-ovarlay: rgba(46, 47, 66, 0.4);
    --modal-window-color: #FCFCFC;
}

body {
    color: var(--body-text-color);
    background-color: var(--white-color);

    font-family: Roboto, sans-serif;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding-left: 0px;
    margin: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
    width: 1158px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.link.logo {
    color: var(--primary-brand-color);

    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.btn {
    cursor: pointer;
    font-family: inherit;

    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
}

.section-title {
    color: var(--dark-color);

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.card-title,
.list-title {
    color: var(--dark-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.card .desc {
    color: var(--body-text-color);
}

/** ---------------------- Header ---------------------- */

.header {
    background-color: var(--white-color);
    border-bottom: 1px solid var(--accent-color);

    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header>.container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.part-logo-header {
    color: var(--dark-color);
}

.header-list {
    display: flex;
    margin-left: 76px;
}

.header-list>.item:not(:first-child) {
    margin-left: 40px;
}

.nav.link {
    color: var(--dark-color);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav.link:hover,
.nav.link:focus,
.link.current {
    color: var(--pressed-state-color);
    position: relative;
}

.link.current::after {
    content: "";
    display: block;

    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--pressed-state-color);

    position: absolute;
    bottom: -1px;
}

.address-container {
    margin-left: auto;
}

.contacts-list {
    display: flex;
}

.contacts-list>.item:not(:first-child) {
    margin-left: 40px;
}

.contact {
    color: var(--body-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact.link:hover,
.contact.link:focus {
    color: var(--pressed-state-color);
}

/** ---------------------- Footer ---------------------- */

.footer {
    background-color: var(--dark-color);

    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .container {
    display: flex;
}

.footer .logo {
    padding: 0;
}

.part-logo-footer {
    color: var(--light-mode-color);
}

.footer .text {
    color: var(--accent-color);

    width: 264px;
    margin-top: 16px;
}

.block-social-media {
    margin-left: 120px;
}

.block-social-media .title {
    color: var(--white-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.social-media-list {
    margin-top: 16px;
    display: flex;
    gap: 16px;
}

.social-media-item .link {
    display: block;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
    color: var(--light-mode-color);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-item .icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.social-media-item .link:hover,
.social-media-item .link:focus {
    background: var(--footer-icon-background-hover);
}

.form-container {
    margin-left: auto;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.form-elements {
    display: flex;
    margin-top: 16px;
    align-items: center;
}

.form-subscribe .mail {
    padding: 8px 16px;
    height: 40px;
    width: 264px;

    color: var(--white-color);
    letter-spacing: 0.04em;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;

    border: 1px solid var(--white-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: none;
}

.form-subscribe .mail::placeholder {
    color: var(--white-color);
    letter-spacing: 0.04em;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
}

.form-subscribe .mail {
    color: var(--white-color);
}


.form-subscribe .form-button-container {
    position: relative;
    margin-left: 24px;
}

.subscribe-button {
    padding: 8px 64px 8px 24px;
    height: 40px;

    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: var(--pressed-state-color);
}

.form-button-container .icon {
    position: absolute;
    top: 8px;
    right: 24px;

    pointer-events: none;
    fill: var(--white-color);
}

/** ----------- Main page style (index.html) ----------- */
/** ---------------------- Hero ---------------------- */

.hero {
    background-color: var(--dark-color);
    background-image: linear-gradient(var(--hero-background), var(--hero-background)), url(../images/index/hero-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    max-width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
}

.hero>.container {
    text-align: center;
}

.hero .section-title {
    color: var(--white-color);

    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

    width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero .btn {
    color: var(--white-color);
    background-color: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    border-color: transparent;
    border-radius: 4px;

    margin-top: 48px;
    padding: 16px 32px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .btn:hover,
.hero .btn:focus {
    background-color: var(--pressed-state-color);
}

/** ---------------------- Section1: Featuress ---------------------- */

.featuress {
    padding-top: 120px;
    padding-bottom: 60px;
}

.featuress-list {
    display: flex;
    justify-content: space-between;
}

.featuress-list .item {
    width: 264px;
}

.featuress-list .icon-container {
    background-color: var(--light-mode-color);
    border-radius: 4px;
    width: 100%;
    height: 112px;
    padding: 24px 100px;
}

.featuress-list .icon {
    width: 64px;
    height: 64px;
}

.featuress-list .list-title {
    margin-top: 8px;
}

.featuress-list .text {
    margin-top: 8px;
}

/** ---------------------- Section2: Example ---------------------- */

.example {
    padding-top: 60px;
    padding-bottom: 120px;
}

.example-list {
    display: flex;
    justify-content: space-between;

    margin-top: 72px;
}


/** ---------------------- Section3: Team ---------------------- */

.team {
    background-color: var(--light-mode-color);

    padding-top: 120px;
    padding-bottom: 120px;
}

.team-cards {
    display: flex;
    margin-top: 72px;
    justify-content: space-between;
}

.team-cards .card {
    background-color: var(--white-color);
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team .card-content {
    padding: 32px 16px;
}

.team-cards .card-title {
    text-align: center;
}

.team-cards .desc {
    text-align: center;
    margin-top: 8px;
}

.card-links.list {
    display: flex;
    justify-content: space-between;

    margin-top: 8px;
}

.card-links .link {
    display: block;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    color: var(--light-mode-color);

    padding: 12px;
    height: 40px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-links .icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.card-links .link:hover,
.card-links .link:focus {
    background-color: var(--pressed-state-color);
}

/** ---------------------- Customers ---------------------- */

.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
}

.customers-item {
    width: calc((100% - 24px * 5)/6);
}

.customers-item .link {
    display: block;

    border: 1px solid var(--customers-icon);
    border-radius: 4px;
    padding: 16px 32px;
    color: var(--customers-icon);

    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item .icon {
    fill: currentColor;
    width: 104px;
    height: 56px;
}

.customers-item .link:hover,
.customers-item .link:focus {
    border-color: var(--pressed-state-color);
    color: var(--pressed-state-color);
}

/** ---------------------- Modal window ---------------------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: var(--modal-ovarlay);

    transform: scale(1);
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 24px;

    min-width: 408px;
    min-height: 576px;

    background-color: var(--modal-window-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.close-modal {
    position: relative;
    height: 24px;
    width: 24px;

    display: block;
    margin-left: auto;
    background-color: var(--accent-color);
    border-radius: 50%;

    border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-modal:active {
    background: var(--pressed-state-color);
    color: var(--white-color);
}

.close-modal .icon {
    position: absolute;
    top: 50%;
    left: 50%;

    fill: currentColor;
    transform: translate(-50%, -50%);
}

.modal-text {
    margin-top: 24px;

    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.modal-form,
.modal-form>.form-item:last-child {
    margin-top: 16px;
}

.modal-form>.form-item:not(:first-child) {
    margin-top: 8px;
}

.form-item .form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--customers-icon);
}

.form-item .form-input {
    display: block;
    margin-top: 4px;
    width: 100%;
    height: 40px;
    padding: 8px;
    padding-left: 38px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item .form-input:focus {
    border-color: var(--primary-brand-color);
}

.form-input:focus+.icon {
    fill: var(--primary-brand-color);
}

.input-container {
    position: relative;
}

.form-item .icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    fill: var(--dark-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item .comment {
    min-height: 120px;
    padding-left: 16px;
    padding-right: 16px;
    resize: none;
}

.form-label.checkbox {
    display: flex;
    align-items: center;
}

.checkbox-field {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    padding: 3px 2px;
    margin-right: 8px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    color: var(--white-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:focus+.checkbox .checkbox-field {
    border-color: var(--primary-brand-color);
}

.form-checkbox:checked+.checkbox .checkbox-field {
    background-color: var(--pressed-state-color);
    border-color: transparent;
}

.form-checkbox:checked+.checkbox .checkbox-field:hover {
    background-color: var(--primary-brand-color);
    border-color: transparent;
}

.checkbox-field .icon-tick {
    display: block;
    fill: currentColor;
}

.form-item.checkbox {
    position: relative;
}

.form-checkbox {
    position: absolute;
    top: 100%;
    left: 8px;
}

.modal-form .form-button {
    display: block;
    margin-top: 24px;
    margin: 24px auto 0 auto;
    padding: 16px 32px;
    min-width: 169px;

    background: var(--primary-brand-color);
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .form-button:hover,
.modal-form .form-button:focus {
    background-color: var(--pressed-state-color);
}

/** ---------------------- Portfolio page style (portfolio.html) ---------------------- */
/** ---------------------- Main content ---------------------- */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

/** ---------------------- Buttons ---------------------- */

.filter-btns {
    display: flex;
    justify-content: center;
}

.filter-btns .item:not(:first-child) {
    margin-left: 24px;
}

.filter-btns .btn {
    color: var(--primary-brand-color);
    background-color: var(--light-mode-color);
    border-radius: 4px;
    border: 1px solid var(--accent-color);

    padding: 12px 24px;

    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btns .btn:hover,
.filter-btns .btn:focus {
    color: var(--white-color);
    background-color: var(--pressed-state-color);
    border-color: transparent;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/** ---------------------- Portfolio Cards ---------------------- */

.portfolio .example-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    margin-top: 72px;
}

.overlay-card {
    position: relative;
    overflow: hidden;
}

.overlay-card .overlay-text {
    position: absolute;
    top: 100%;
    left: 0;


    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background: var(--primary-brand-color);
    color: var(--light-mode-color);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .card-content {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}

.portfolio .desc {
    margin-top: 8px;
}

.portfolio .card {
    width: 360px;
}

.portfolio .card-link:focus .overlay-text,
.portfolio .card-link:hover .overlay-text {
    transform: translateY(-100%);
}

.portfolio .card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}