/** ----------- General style ----------- */
/** ----------- Colors -----------:
#4D5AE5 - Primary brand
#404BBF - Pressed state
#2E2F42 - Dark (Overlays Shadows Headings)
#31D0AA - Success 
     graduation: opacity: 0.75; 
     opacity: 0.5; 
     rgba(49, 208, 170, 0.1) - 10%;  
#434455 - Body text
#8E8F99 - Subtle Text
#E7E9FC - Accent
#F4F4FD - Light mode
#FFFFFF - Background color (text button, hero title)
rgba(46, 47, 66, 0.4) - Modal overlay
rgba(46, 47, 66, 0.7) - Hero background
 */

:root {
    --body-text-color: #434455;
    --primary-brand-color: #4D5AE5;
    --dark-color: #2E2F42;
    --pressed-state-color: #404BBF;
    --white-color: #FFFFFF;
    --light-mode-color: #F4F4FD;
    --accent-color: #E7E9FC;
    --hero-background: rgba(46, 47, 66, 0.7);
    --customers-icon: #8E8F99;
    --footer-icon-background: rgba(255, 255, 255, 0.1);
    --footer-icon-background-hover: #31D0AA;
    --modal-ovarlay: rgba(46, 47, 66, 0.4);
    --modal-window-color: #FCFCFC;
}

body {
    color: var(--body-text-color);
    background-color: var(--white-color);

    font-family: Roboto, sans-serif;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding-left: 0px;
    margin: 0;
}

li {
    line-height: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
}

.container {
    max-width: 1154px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.link.logo {
    color: var(--primary-brand-color);

    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.btn {
    cursor: pointer;
    font-family: inherit;

    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
}

.section-title {
    color: var(--dark-color);

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.card-title,
.list-title {
    color: var(--dark-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.card .desc {
    color: var(--body-text-color);
}

/** ---------------------- Header ---------------------- */

.header {
    background-color: var(--white-color);
    border-bottom: 1px solid var(--accent-color);

    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
}

.part-logo-header {
    color: var(--dark-color);
}

.menu-button {
    border: none;
    height: 44px;
    cursor: pointer;

    border-radius: 50%;
    background-color: transparent;
}

.menu-button:hover,
.menu-button:focus,
.menu-button:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-icon {
    stroke: var(--dark-color);
}

.js-close-menu {
    position: relative;
    height: 24px;
    width: 24px;

    display: block;
    margin-left: auto;
    background-color: var(--accent-color);
    border-radius: 50%;

    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-close-menu:focus,
.js-close-menu:hover,
.js-close-menu:active {
    background: var(--pressed-state-color);
    color: var(--white-color);
}

.js-close-menu .close-icon {
    position: absolute;
    top: 50%;
    left: 50%;

    fill: currentColor;
    transform: translate(-50%, -50%);
}

.container-nav-address {
    display: flex;
}

.header-nav .header-list {
    display: flex;
    gap: 40px;
}

.nav.link {
    color: var(--dark-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
    display: flex;
    flex-direction: column;
}

.contacts-list .contact {
    letter-spacing: 0.02em;
}

.contacts-list .tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    color: var(--primary-brand-color);
}

.contacts-list .email {
    font-size: 20px;
    line-height: 1.2;

    color: var(--body-text-color);
}

.social-links.list {
    display: flex;
    justify-content: space-between;

    margin-top: 48px;
}

.social-links .link {
    display: block;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    color: var(--light-mode-color);

    padding: 8px;
    height: 40px;
    width: 40px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .icon {
    fill: currentColor;
}

.social-links .link:hover,
.social-links .link:focus {
    background-color: var(--pressed-state-color);
}

/** ---------------------- Footer ---------------------- */

.footer {
    background-color: var(--dark-color);

    padding-top: 96px;
    padding-bottom: 96px;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
}

.footer .logo {
    padding: 0;
}

.part-logo-footer {
    color: var(--light-mode-color);
}

.footer .text {
    color: var(--accent-color);

    max-width: 264px;
    margin-top: 16px;
}

.block-social-media .title {
    color: var(--white-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.social-media-list {
    margin-top: 16px;
    display: flex;
    gap: 16px;
}

.social-media-item .link {
    display: block;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
    color: var(--light-mode-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-item .link:hover,
.social-media-item .link:focus {
    background: var(--footer-icon-background-hover);
}

.social-media-item .icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.form-elements {
    padding-top: 16px;
}

.form-subscribe .mail {
    padding: 8px 16px;
    height: 40px;
    width: 264px;

    color: var(--white-color);
    letter-spacing: 0.04em;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;

    border: 1px solid var(--white-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: none;
}

.form-subscribe .mail::placeholder {
    color: var(--white-color);
    letter-spacing: 0.04em;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
}

.form-subscribe .form-button-container {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.subscribe-button {
    display: block;
    padding: 8px 64px 8px 24px;
    height: 40px;

    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: var(--pressed-state-color);
}

.form-button-container .icon {
    position: absolute;
    top: 8px;
    right: 24px;

    pointer-events: none;
    fill: var(--white-color);
}

/** ----------------------- @Media ----------------------- */

@media screen and (max-width: 427px) {

    /* ----------------------- Header----------------------- */

    .contacts-list .tel {
        font-size: calc(100vw * 5/54 - 98px/27);
    }

    /* ----------------------- Footer---------------------- */

    .form-subscribe .mail {
        width: 100%;
    }
}

@media screen and (min-width: 428px) {

    /* ----------------------- Footer---------------------- */

    .form-subscribe .mail {
        width: 398px;
    }
}

@media screen and (max-width: 767px) {

    /* ----------------------- Header----------------------- */

    .mobile-header {
        display: flex;
        padding: 0 16px;
        width: 100%;

        align-items: center;
        justify-content: space-between;
    }

    .js-menu-container {
        display: none;
    }

    .js-menu-container.is-open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        padding: 24px 24px 40px 40px;

        width: 100%;
        height: 100%;
        background-color: var(--white-color);
    }

    .header-nav .header-list,
    .container-nav-address {
        flex-direction: column;
    }

    .container-nav-address {
        height: calc(100% - 24px);
        justify-content: space-between;
    }

    .contacts-list {
        gap: 40px;
    }

    /* ----------------------- Footer ---------------------- */

    .footer .container {
        justify-content: center;
    }

    .footer-description .logo,
    .block-social-media .title,
    .subscribe-title {
        text-align: center;
    }

    .block-social-media {
        margin-top: 72px;
    }

    .social-media-list {
        justify-content: center;
    }

    .block-social-media,
    .form-container {
        width: 100%;
    }

    .form-subscribe .form-elements {
        text-align: center;
    }

    .form-subscribe .form-button-container {
        text-align: center;
    }

    .form-subscribe .form-button-container {
        margin-top: 16px;
    }
}


@media screen and (min-width: 768px) {

    /* ----------------------- Header ----------------------- */

    .menu-button,
    .js-close-menu,
    .social-links.list {
        display: none;
    }

    .header-container {
        display: flex;
        padding: 0 16px;
    }

    .container-nav-address {
        justify-content: center;
    }

    .address-container {
        display: flex;
        align-items: center;
    }

    .nav.link {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;

        font-size: 16px;
        line-height: 1.5;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav.link:hover,
    .nav.link:focus,
    .link.current {
        color: var(--pressed-state-color);
        position: relative;
    }

    .link.current::after {
        content: "";
        display: block;

        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: var(--pressed-state-color);

        position: absolute;
        bottom: -1px;
    }

    .contacts-list {
        flex-direction: column-reverse;
    }

    .contact.link {
        color: var(--body-text-color);

        font-weight: 400;
        font-size: 12px;
        line-height: calc(14/12);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact.link:hover,
    .contact.link:focus {
        color: var(--pressed-state-color);
    }

    /* ----------------------- Footer ----------------------- */

    .block-social-media {
        margin-left: 24px;
    }

    .form-subscribe .form-elements {
        display: flex;
    }

    .form-subscribe .mail {
        width: 264px;
    }

    .subscribe-button {
        margin-left: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {

    /* ----------------------- Header ----------------------- */

    .header-container {
        justify-content: space-between;
    }

    .address-container {
        margin-left: calc((100vw - 561px) / 2);
        padding: 16px 0;
    }

    .contacts-list>.item:first-child {
        margin-top: 12px;
    }

    /* ----------------------- Footer ----------------------- */

    .footer .container {
        width: 552px;
        margin-left: auto;
        margin-right: auto;
    }

    .block-social-media {
        margin-left: 24px;
    }
}

@media screen and (max-width: 1157px) {

    /* ----------------------- Footer ----------------------- */

    .form-container {
        margin-top: 72px;
    }
}

@media screen and (min-width: 1158px) {

    /* ----------------------- Header ----------------------- */

    .js-menu-container {
        margin-left: 76px;
        width: 100%;
    }

    .container-nav-address {
        justify-content: space-between;
    }

    .contacts-list {
        flex-direction: row-reverse;
    }

    .contacts-list>.item:not(:last-child) {
        margin-left: 40px;
    }

    .contact.link {
        font-size: 16px;
        line-height: 1.5;
    }

    /* ----------------------- Footer ----------------------- */

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .block-social-media {
        margin-left: 120px;
    }

    .footer .form-container {
        margin-left: auto;
    }
}